nextflowVersion = "24.04.4"

workDir = "${params.results_dir}/processes"

trace {
    file = "${params.results_dir}/nxf-trace.txt"
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,attempt,submit,start,complete,duration,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes'
    overwrite = true
    enabled = true
}

dag {
    file = "${params.results_dir}/nxf-dag.html"
    overwrite = true
    enabled = true
}

timeline {
    file = "${params.results_dir}/nxf-timeline.html"
    overwrite = true
    enabled = true
}

report {
    file = "${params.results_dir}/nxf-report.html"
    overwrite = true
    enabled = true
}

profiles {
    docker {
        docker {
            enabled = true
            runOptions = "--privileged"
        }
        process {
            withName: dorado {
                container = "nanoporetech/dorado:shaa2ceb44eb92c08f9a3a53f97077904d7e23e28ec"
            }
            withName: nanoplot {
                container = "nanozoo/nanoplot:1.42.0--547049c"
            }
            withName: canu {
                container = "nanozoo/canu:2.1.1--47239ea"
            }
            withName: flye {
                container = "staphb/flye:2.9.4"
            }
            withName: medakaConsensus {
                container = "ontresearch/medaka:sha447c70a639b8bcf17dc49b51e74dfcde6474837b-amd64"
            }
        }
    }
    standard {
        executor {
            name = 'local'
        }
        process {
            time = { '5m' * task.attempt }
            cpus = 8
            errorStrategy = 'retry'
            withName: dorado {
                time = { '2h' * task.attempt }
            }
            withName: nanoplot {
                cpus = { 2 * task.attempt }
            }
            withName: medakaConsensus {
                time = { '15m' * task.attempt }
            }
        }
    }
}
